<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch m-5 g-4 py-5">
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://media.istockphoto.com/videos/mans-hands-coding-on-laptop-close-up-man-using-portable-computers-man-video-id1193698730?b=1&k=20&m=1193698730&s=640x640&h=YIemK1sCnuCnNksrnMUmZ9sXBwFgDqz9qTmtAlyx4e4=');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mirá mis proyectos</h2>
       <a href="https://github.com/mica-galvan/"> <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
          </li>
          <li class="d-flex align-items-center me-3">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            <small>GitHub</small>
          </li>
          <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
           
          </li>
        </ul></a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://blog.portalpos.com.br/app/uploads/2022/01/como-colocar-o-link-do-linkedin-no-curriculo.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mi Linkedin</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
          </li>
          <li class="d-flex align-items-center me-3">
            <a href="https://www.linkedin.com/in/daiana-micaela-galvan/"><svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            <small>Linkedin</small></a>
          </li>
          <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
            
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://i.pinimg.com/236x/e3/24/c0/e324c07bf8d2806d44425e80c861f9fd.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Info variada acá</h2>
        <a href="https://writeres.com/blogs/news/como-hacer-un-feed-aesthetic#:~:text=Primero%20de%20todo%2C%20%C2%BFqu%C3%A9%20quiere,qu%C3%A9%20ser%20un%20feed%20creativo."> <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
          </li>
          <li class="d-flex align-items-center me-3">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            <small>Instagram</small>
          </li>
          <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
          </li>
        </ul></a>
      </div>
    </div>
  </div>
</div>
