<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch m-2  py-2">
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://media.istockphoto.com/videos/mans-hands-coding-on-laptop-close-up-man-using-portable-computers-man-video-id1193698730?b=1&k=20&m=1193698730&s=640x640&h=YIemK1sCnuCnNksrnMUmZ9sXBwFgDqz9qTmtAlyx4e4=');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-1 mb-1 display-6 lh-1 fw-bold">Cursos ⬇️</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
           
          </li>
          <li class="d-flex align-items-center me-3">
            <a routerLink="/courses">
            <small>Cursos</small></a>
          </li>
          <li class="d-flex align-items-center">
            
            
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://blog.portalpos.com.br/app/uploads/2022/01/como-colocar-o-link-do-linkedin-no-curriculo.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-2 mb-2 display-6 lh-1 fw-bold">Profesores⬇️</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
           
          </li>
          <li class="d-flex align-items-center me-3">
            <a routerLink="/teacher">
            <small>Profesores</small></a>
          </li>
          <li class="d-flex align-items-center">
            
            
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://i.pinimg.com/236x/e3/24/c0/e324c07bf8d2806d44425e80c861f9fd.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <h2 class="pt-5 mt-2 mb-2 display-6 lh-1 fw-bold">Soporte ⬇️</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
           
          </li>
          <li class="d-flex align-items-center me-3">
            <a routerLink="/contact">
            <small>Soporte</small></a>
          </li>
          <li class="d-flex align-items-center">
            
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
