<nav class="navbar nav-top navbar-expand-lg navbar-dark bg-dark">
  <a><img class="" src="https://i.ibb.co/w41Ksrj/Classroom-Header-1-removebg-preview.png" width="300" height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto text-left ml-5">
        <li class="nav-item active">
          <a class="nav-link" href="#">Cuenta<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Configuración</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tema</a>
        </li>
      </ul>
      <span class="navbar-text">
       Salir
      </span>
    </div>
  </nav>

  
