.item1 { grid-area: toolbar; }
.item2 { grid-area: navbar; }
.item3 { grid-area: main; }


.grid-layout-container {
  display: grid;
  grid-template-areas:
    'toolbar toolbar toolbar toolbar toolbar toolbar'
    'navbar navbar main main main main ';
  
  background-color: #d4b8cb;
  ;
}

.grid-layout-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

a:link, a:visited, a:active{
   
    text-decoration: none !important;
}