.item1 { grid-area: toolbar; }
.item2 { grid-area: navbar; }
.item3 { grid-area: main; }
.item4 { grid-area: list; }
.item5 { grid-area: crud; }
.item6 { grid-area: form; }


.grid-layout-container {
  display: grid;
  grid-template-areas:
    'toolbar toolbar toolbar toolbar toolbar toolbar'
    /*'navbar navbar main main main main '*/
    'navbar navbar crud crud form form '
    /*'navbar navbar list list list list '*/
    ;

  
  background-color: white;
  ;
}

.grid-layout-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:  0;
  font-size: 30px;
}

a:link, a:visited, a:active{
   
    text-decoration: none !important;
}